/* Below you can find fixes for IE6 and below */
* html .icon-members					{ background-image: url("{T_THEME_PATH}/images/icon_members.gif"); }
* html .icon-ucp						{ background-image: url("{T_THEME_PATH}/images/icon_ucp.gif"); }
* html .icon-register					{ background-image: url("{T_THEME_PATH}/images/icon_register.gif"); }
* html .icon-unsubscribe				{ background-image: url("{T_THEME_PATH}/images/icon_unsubscribe.gif"); }
* html .icon-search					{ background-image: url("{T_THEME_PATH}/images/icon_search.gif"); }

/* Fontsize */
* html a.fontsize { background-image: url("{T_THEME_PATH}/images/icon_fontsize.gif"); }

/* Button background */
* html a.button1, * html input.button1, * html input.button3, * html a.button2, * html input.button2 {
	background-image: url("{T_THEME_PATH}/images/bg_button.gif");
}

/* Print and email images */
* html a.print {
	background-image: url("{T_THEME_PATH}/images/icon_print_mail.gif");
}

* html a.sendemail {
	background-image: url("{T_THEME_PATH}/images/icon_print_mail.gif");
}