	</div>

<div id="page-footer">

	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="linklist">
			<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
				<!-- IF not S_IS_BOT -->
					<!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
					<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->
				<!-- ENDIF -->
			<li class="rightside"><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; <!-- ENDIF --><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}</li>
		</ul>

		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	<div class="copyright">{CREDIT_LINE}<br />Style by <a href="http://www.m-a-styles.de">Marc Alexander</a> &copy;
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
	</div>
</div>

</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
	</div>
	</div>
<div class="nobottomgap"></div>
</div>
<!--- end of box border -->
</div></div>
<!-- -->
<div class="bottom-left"></div><div class="bottom-center"></div><div class="bottom-right"></div>
</div>
<!-- JQuery Pop Up -->
<!-- PM Popup -->
<!-- IF S_USER_PM_POPUP -->	
<div id="popupPM">  
	<a id="popupPMClose">x</a> 
	<table class="tablebg">
	<tr>
		<td class="row1" rowspan="2" align="left" valign="middle"><img src="{T_THEME_PATH}/images/new_pm.png" style="width: 113px; height: 105px;" alt="{L_WHO_IS_ONLINE}" /></td>
		<td class="row1"><a id="popupHeader" href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a></td>
	</tr>
	</table>
	<p>  
		<!-- IF S_NOT_LOGGED_IN -->{L_LOGIN_CHECK_PM}<!-- ELSE -->{L_YOU_NEW_PM}<br /><br /><a class="postlink" href="{U_PRIVATEMSGS}">{L_PROFILE}</a><!-- ENDIF -->
	</p>  
</div>
<!-- ENDIF -->
<!-- PM Popup end -->
<!-- Image Popup -->
<div id="popupImage">
	<p id="ImagePopup"></p>
	<a id="popupImageClose">x</a> 
</div>
<!-- Image Popup -->
<div id="backgroundPopup"></div> 
<!-- JQuery Pop Up END -->
</body>
</html>